<div class="container-fluid">
  <section class="titular">
    <h1>¡JULIO GONZALES, unos datos más!</h1>
  </section>

  <section class="form_registro">
    <form [formGroup]="form" class="form-check-uno">
      <div class="row">
        <div class="col-sm-12">
          <h2><i class="fas fa-map-marked-alt"></i> HACIA DÓNDE LLEVAMOS TU EQUIPO</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="departamento">Departamento</label>
            <select
              id="departamento"
              name="form_departamento"
              required=""
              class="form-control select_custom select_minimal"
              formControlName="departamento"
            >
              <option value="">Seleccione...</option>
              <option [value]="departamento.codest" *ngFor="let departamento of departamentoList">{{ departamento.etiqueta }}</option>
            </select>
          </div>
        </div>
        <!-- <div class="col-3"></div> -->
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="provincia">Provincias</label>
            <select
              id="provincia"
              name="form_provincia"
              required=""
              class="form-control select_custom select_minimal"
              formControlName="provincia"
            >
              <option value="">Seleccione...</option>
              <option [value]="provincia.codpvc" *ngFor="let provincia of provinciaList">{{ provincia.etiqueta }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="distrito">Distrito</label>
            <select
              id="distrito"
              name="form_distrito"
              required=""
              class="form-control select_custom select_minimal"
              formControlName="distrito"
            >
              <option value="">Seleccione...</option>
              <option [value]="distrito.coddst" *ngFor="let distrito of distritoList">{{ distrito.etiqueta }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2><i class="fas fa-truck"></i> ELIGE EL TIPO DE DESPACHO</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="container_check"
              >Delivery Regular <br /><span>Te llamamos y programamos la fecha y hora de entrega.</span>
              <input type="checkbox" id="del2" name="tipo_despacho" />
              <span class="checkmark"></span>
            </label>

            <!--
            <ul class="menu_categorias margincero">
              <input type="radio" id="del2" name="tipo_despacho" value="48 Horas" data-valor="0" class="form-control radio_custom"/>
              <li class="li-con-border">
                <label for="del2">
                  Delivery Regular
                  <span>
                    Te llamamos y programamos la fecha y hora de entrega.
                  </span>
                </label>
              </li>
            </ul>
            -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2><i class="fas fa-headset"></i> COORDINAMOS LA ENTREGA</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="txtCelular"> A qué teléfono celular te llamamos.<span class="aviso">Es muy importante.</span></label>
            <input
              type="tel"
              id="txtCelular"
              name="form_num_tel_1"
              minlength="9"
              maxlength="9"
              value=""
              placeholder="Escribe tu celular aquí"
              required=""
              pattern="[0-9]+"
              title="Escribe un número de celular"
              class="form-control text_custom"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="txtCorreo"> A qué correo te enviamos la confirmación.</label>
            <input
              type="email"
              id="txtCorreo"
              name="form_email"
              value=""
              placeholder="Escribe tu email aquí"
              required=""
              class="form-control text_custom"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2><i class="fas fa-portrait"></i> PARA REGISTRAR LA VENTA</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="txtDocumento"> Necesitamos tu número de documento de identidad</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <select id="form_tipo_doc" name="form_tipo_doc" required="" class="form-control select_custom select_minimal">
              <option value="">Seleccione...</option>
              <option value="DNI">D.N.I.</option>
              <option value="RUC">R.U.C.</option>
              <option value="C.E">C.E.</option>
            </select>
          </div>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="text"
              id="txtDocumento"
              name="form_num_doc"
              placeholder="Número de documento"
              required=""
              class="form-control text_custom"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2><i class="far fa-credit-card"></i> PAGO CONTRA ENTREGA CON TARJETA</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="container_check"
              >Pago Contra entrega <br /><span>Paga en casa con tu tarjeta de crédito y débito.</span>
              <input type="checkbox" id="tarj" name="tarj" />
              <span class="checkmark"></span>
            </label>

            <!--
            <ul class="menu_categorias margincero">
              <input
                id="tarj"
                name="tarj"
                required=""
                style="opacity: 0; width: 0; float: left; height: 0px;"
                type="text"
                value=""
                class="form-control input_custom"
              />
              <li class="li-con-border">
                <label for="del2">
                  Pago Contra entrega <br/>
                  <span>
                    Paga en casa con tu tarjeta de crédito y débito.
                  </span>
                </label>
              </li>
            </ul>
            -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn_naranja">COMPRAR</button>
        </div>
      </div>
    </form>
  </section>
</div>
