header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 66px;
  z-index: 10;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: #ee122c;

  .menu-mobile {
    margin-top: 7px;

    @media only screen and (min-width: 641px) {
      display: none;
    }

    .hamburger-menu {
      width: 28px;
      margin-left: 15px;
      margin-right: 5px;
      padding-top: 17px;

      i {
        color: #ffffff;
      }
    }

    .menu-mobile-bg {
      position: absolute;
      top: 0;
      height: 100vh;
      background-color: rgba(33, 33, 33, 0.8);
      width: 100%;
      padding: 0 16px;
      z-index: 9;
    }

    .menu-mobile-content {
      position: absolute;
      top: 0;
      height: 100vh;
      background-color: #b71f2d;
      width: 270px;
      padding: 0 16px;
      z-index: 10;

      .menu-mobile-content_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px;
        color: #fff;
        background-color: #b71f2d;
        width: 100%;
        padding: 0 0 0 9px;
        justify-content: space-between;
        border-bottom: 1px solid #fff;

        .menu-mobile-content_header-lbl {
          color: #fff;
          font-size: 16px;
          font-weight: 300;

          i {
            color: #fff;
            margin-right: 2px;
          }
        }
      }

      .menu-mobile-content_opts {
        .menu-mobile-content_opts-item {
          list-style: none;
          flex-direction: column;
          min-width: 148px;
          display: flex;

          li {
            &:first-child a {
              color: #fff;
              min-width: 100%;
              width: auto;
            }

            a {
              display: flex;
              flex-direction: row;
              padding: 14px 9px;
              font-size: 16px;
              text-decoration: none;
              line-height: 21px;
              font-weight: 300;

              span {
                font-size: 16px;
                margin: 0 0 0 5px;
                color: white;
              }

              i {
                font-size: 20px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .logo {
    margin-left: 10px;
    margin-right: inherit;
    display: flex;
    align-items: center;

    @media only screen and (min-width: 1280px) {
      margin-left: 6%;
      margin-right: 0;
    }

    img {
      width: 150px;
      vertical-align: baseline;
    }
  }

  .menu-desktop {
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;

    @media only screen and (max-width: 1279px) {
      display: none;
    }

    .menu-desktop-list {
      width: 100%;
      text-align: center;

      ul {
        display: flex;
        align-items: center;
        width: 80%;
        margin: auto;
        justify-content: space-evenly;

        li {
          cursor: pointer;
          display: inline-block;
          font-size: 18px;
          padding: 7px 20px;

          &:hover {
            color: #ee122c;
            border-radius: 5px;
            box-shadow: 0 0 5px 2px #00000026;
          }

          a {
            color: #fff !important;
            font-weight: 300;
            font-size: 16px;
          }
        }
      }
    }
  }

  .menu-opts {
    margin-right: 10px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .menu-opts-item {
      width: 35px;
      height: 35px;
      border-radius: 35px;
      text-align: center;
      cursor: pointer;

      i {
        position: relative;
        top: 7px;
        font-size: 20px;
        color: #ffffff;
      }
    }
  }

  .menu-opts-item_show {
    position: relative;
    overflow: hidden;
    width: 130px;
    height: 38px;
    color: #222222;
    font-size: 16px;

    // .menu-opts-item_show-slide {
    //   position: absolute;
    //   //top: 35px;
    //   top: 0;
    //   right: 0;
    //   transition: 1s;

    //   strong {
    //     color: #222222;
    //   }
    // }

    //&: .menu-opts-item_show-slide {
    //  transition: 1s;
    //  top: 0;
    //}
  }
}

/* ---------- Search Input ---------- */

.bg-search-postpago {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 543;
}

.nav-search-postpago {
  position: fixed;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 1255px;
  z-index: 10000;
  clear: both;
  box-shadow: rgba(0, 0, 0, 0.9) 0 0 30px 0;

  @media only screen and (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgb(218, 38, 45);
    height: 52px;
    z-index: 10000;
    clear: both;
  }

  .suggested-search {
    text-transform: none;
    position: absolute;
    padding: 14px 76px 12px 1.5%;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    height: 44px;
    font-size: 15px;
    font-family: Roboto, helvetica, sans-serif;
    border: 1px solid rgb(204, 204, 204);
    line-height: 15px;
    text-rendering: auto;
    background-color: white;
    color: grey;

    @media only screen and (max-width: 768px) {
      background-color: transparent;
      color: white;
      position: absolute;
      margin-top: 7px;
      padding: 8px 1.5%;
      width: 70%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 0 0 1px;
      border-top-style: initial;
      border-right-style: initial;
      border-bottom-style: solid;
      border-left-style: initial;
      border-top-color: initial;
      border-right-color: initial;
      border-bottom-color: white;
      border-left-color: initial;
      border-image: initial;
      outline: 0;
      border-radius: 0;
      box-sizing: border-box;
      height: 35px;
      font-size: 15px;
      font-family: Roboto, helvetica, sans-serif;
      text-rendering: auto;
      text-transform: uppercase;
      opacity: 0.7;
    }
  }

  input {
    text-transform: none;
    position: absolute;
    padding: 12px 76px 12px 1.5%;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    height: 44px;
    font-size: 15px;
    font-family: Roboto, helvetica, sans-serif;
    border: 1px solid rgb(204, 204, 204);
    line-height: 15px;
    text-rendering: auto;
    background-color: transparent;
    outline: none;

    @media only screen and (max-width: 768px) {
      background-color: transparent;
      color: white;
      position: absolute;
      margin-top: 7px;
      padding: 8px 1.5%;
      width: 70%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 0 0 1px;
      border-top-style: initial;
      border-right-style: initial;
      border-bottom-style: solid;
      border-left-style: initial;
      border-top-color: initial;
      border-right-color: initial;
      border-bottom-color: white;
      border-left-color: initial;
      border-image: initial;
      outline: 0;
      border-radius: 0;
      box-sizing: border-box;
      height: 35px;
      font-size: 15px;
      font-family: Roboto, helvetica, sans-serif;
      text-rendering: auto;
      text-transform: uppercase;
    }

    &::placeholder {
      color: #ccc;
      font-size: 13px;
    }
  }

  .input-close {
    display: flex;
    position: relative;
    height: 44px;
    width: 48px;
    border-radius: 0 5px 5px 0;
    float: right;
    font-size: 24px;
    background-color: transparent;
    color: white;
    cursor: pointer;

    @media only screen and (max-width: 768px) {
      display: flex;
      position: relative;
      height: 52px;
      width: 15%;
      float: left;
      font-size: 20px;
      color: white;
    }

    i {
      margin: auto;
    }
  }

  .suggested-search-result {
    display: flex;
    background-color: rgb(244, 244, 244);
    width: 100%;
    border-radius: 0 0 5px 5px;

    .results-content {
      display: block;
      background-color: rgb(244, 244, 244);
      width: 100%;
      border-radius: 5px;
      text-align: center;
      clear: both;
      padding-bottom: 15px;
      height: 380px !important;
      overflow: hidden;

      .results-not-found {
        padding: 38px;
        width: 335px;
        margin: auto;
        text-align: center;
        clear: both;
        font-size: 16px;

        @media only screen and (max-width: 768px) {
          padding: 38px 15px;
          width: 100%;
          height: 716px;
          box-sizing: border-box;
        }

        .try-again-msg {
          font-size: 13px;
        }

        p {
          margin: 0;
        }
      }

      .products-list {
        display: inline-block;
        padding-top: 15px;
        box-sizing: border-box;
        clear: both;

        @media only screen and (max-width: 425px) {
          padding: 0;
          width: 100%;
        }

        .product-box-item {
          color: #0fbddf;
          text-decoration: none;
          font-size: 16px;
          font-weight: 400;

          @media only screen and (max-width: 425px) {
            width: 100%;
          }

          .product-box-item_detail {
            float: left;
            margin: 12px;
            padding: 24px 12px;
            text-align: center;
            width: 124px;
            background-color: white;

            @media screen and (min-width: 1025px) {
              width: 158px;
            }

            @media only screen and (max-width: 425px) {
              display: flex;
              align-items: center;
              width: 100%;
              margin: 0;
              padding: 8px;
              box-sizing: border-box;
              border-bottom: 0.1em solid #d8d8d8;
            }

            &:hover {
              box-shadow: 0 0 10px rgba(171, 174, 175, 0.8);
            }

            > .item-image {
              width: 100%;
              padding-bottom: 8px;

              > img {
                height: 160px;
              }
            }

            > .item-brand {
              padding: 4px 0;
              height: 22px;
            }

            .item-brand {
              color: #666666 !important;
              font-size: 0.9375rem;
              font-weight: bold;
            }

            > .item-name {
              padding: 4px 0;
              line-height: 1.35em;
              height: 44px;
            }

            .item-name {
              color: #212121;
              font-size: 0.9375rem;
              font-weight: 300;
            }

            > .item-description {
              text-align: left;
              line-height: normal;
              display: none;
            }
          }
        }
      }
    }
  }
}

.mostrar {
  display: block !important;
}

/* ---------- End Search Input ---------- */
