<owl-carousel-o [options]="customOptions" class="carousel">
  <ng-container *ngFor="let slide of bannerPostpaid">
    <ng-template carouselSlide>
      <img [src]="slide.desktopImg" [alt]="slide.altImg" [title]="slide.title" />
    </ng-template>
  </ng-container>
</owl-carousel-o>

<owl-carousel-o [options]="customOptions" class="carousel-small">
  <ng-container *ngFor="let slide of bannerPostpaid">
    <ng-template carouselSlide>
      <img [src]="slide.mobileImg" [alt]="slide.altImg" [title]="slide.title" />
    </ng-template>
  </ng-container>
</owl-carousel-o>
