<div class="container-fluid">
  <section class="titular">
    <h1>Hola! antes de continuar queremos conocerte</h1>
  </section>

  <section class="form_registro">
    <form>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="txtNombre">Escribe tu nombre y apellido</label>
            <input type="text" class="form-control input_custom" id="txtNombre" name="name" placeholder="Escribe aqui" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <button type="submit" (click)="registroDetalle()" class="btn_naranja">CONTINUAR</button>
        </div>
      </div>
    </form>
  </section>
</div>
