<div class="container">
  <section>
    <form>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <h2>Hola! antes de continuar queremos conocerte</h2>
        </div>
        <div class="col-3"></div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="form-group">
            <label for="txtNombre">Escribe tu nombre y apellido</label>
            <input type="text" class="form-control" id="txtNombre" name="name" placeholder="Escribe aqui" />
          </div>
        </div>
        <div class="col-3"></div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <button type="submit" (click)="registroDetalle()" class="btn_naranja">CONTINUAR</button>
        </div>
        <div class="col-3"></div>
      </div>
    </form>
  </section>
</div>
