footer {
  position: static;
  bottom: 0;
  width: 100%;
  float: left;

  .footer-nav {
    width: 100%;
    margin-top: 20px;
    background: #222222;
    height: 50px;
    text-align: center;

    img {
      width: 70px;
      margin: auto;
    }

    .claim-book {
      width: 50px;
    }

    ul {
      width: 100%;
      display: flex;
      margin: 0;

      li {
        list-style-type: none;
        margin: auto;
        padding-top: 10px;

        a {
          font-size: 13px;
        }
      }
    }
  }
}
