<footer>
  <div class="footer-nav">
    <ul>
      <li>
        <img alt="Tienda Claro Online" src="https://catalogo.claro.com.pe/img/logo-claro-blanco.png" />
      </li>
      <li>
        <a href="http://www.claro.com.pe/wps/portal/pe/sc/personas/contactanos/libro-reclamaciones">
          <img alt="Libro de Reclamaciones" class="claim-book" src="https://static.claro.com.pe/apps/menu_claro/img/ico_libro.png" />
          Libro de Reclamaciones
        </a>
      </li>
    </ul>
  </div>
</footer>
