<!-- NavBar -->
<app-header></app-header>
<!-- End NavBar -->

<div class="main-content">
  <!-- Filter List Mobile -->
  <section class="md-filter" (click)="toggleFilterList()">
    <i class="fas fa-sort-amount-down"></i>
    <span class="filter-label">
      Filtros
    </span>
  </section>
  <!-- End Filter List Mobile -->

  <!-- Sidebar -->
  <aside *ngIf="showFilterList">
    <div class="filter-list" *ngFor="let list of filterList">
      <h2>{{ list.listName }}</h2>
      <ul class="menu-list">
        <li *ngFor="let opts of list.options; let i = index">
          <input type="radio" id="{{ list.listId }}-{{ opts.id }}" name="{{ list.listId }}" value="{{ opts.id }}" [checked]="i === 0" />
          <label for="{{ list.listId }}-{{ opts.id }}">{{ opts.label }}</label>
        </li>
      </ul>
    </div>
  </aside>
  <!-- End Sidebar -->

  <!-- Main -->
  <main>
    <!-- Header Catalog -->
    <section class="category-title">
      <h1>Todos</h1>
      <h6>En Tienda Claro encuentras el celular que se ajuste a ti, elige el tuyo y ¡Cómpralo Ahora!</h6>
    </section>
    <!-- End Header Catalog -->

    <!-- Product List -->
    <section class="catalog-list">
      <ng-container *ngFor="let device of deviceList">
        <a href="{{ device.productUrl }}">
          <div class="devices">
            <div class="device-title">
              <div class="info">
                <span class="brand">{{ device.brand }}</span>
                <span class="item-name">{{ device.deviceName }}</span>
              </div>
            </div>
            <div class="device-image">
              <div class="image">
                <img alt="{{ device.deviceName }}" src="{{ device.deviceImgSrc }}" />
              </div>
              <div class="price">
                <div class="modality">
                  <span>{{ device.modality }}</span>
                </div>
                <div class="value">
                  <span class="payment-value">{{ device.price.paymentValue }}</span>
                  <span class="payment-type">{{ device.price.paymentType }}</span>
                </div>
              </div>
            </div>
            <div class="device-plan">
              <span
                ><strong>{{ device.price.paymentValue }}</strong
                >Precio del equipo</span
              >
              <span>Plan Max Ilimitado {{ device.plan }}</span>
            </div>
            <div class="tag-soloonline" *ngIf="device.onlyOnline">
              <img src="https://static.claro.com.pe/img/otros/EtiquetaSoloOnline.png" width="72" />
            </div>
          </div>
        </a>
      </ng-container>
    </section>
    <!-- End Product List -->
  </main>
  <!-- End Main -->
</div>

<!-- Footer-->
<app-footer></app-footer>
<!-- End Footer -->
