<!-- Filter List Mobile -->
<section class="md-filter" (click)="toggleFilterList()">
  <i class="fas fa-sort-amount-down"></i>
  <span class="filter-label">
    Filtros
  </span>
</section>
<!-- End Filter List Mobile -->

<!-- Sidebar -->
<aside *ngIf="showFilterList">
  <div class="filter-list" *ngFor="let list of filterList">
    <h2>{{ list.listName }}</h2>
    <ul class="menu-list">
      <li *ngFor="let opts of list.options; let i = index">
        <input type="radio" id="{{ list.listId }}-{{ opts.id }}" name="{{ list.listId }}" value="{{ opts.id }}" [checked]="i === 0" />
        <label for="{{ list.listId }}-{{ opts.id }}">{{ opts.label }}</label>
      </li>
    </ul>
  </div>
</aside>
<!-- End Sidebar -->
