.header {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  /* border-top: 4px solid #EF3829; */
  height: 66px;
  z-index: 10;
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  /* background: #ee122c; */
}

.header .logo {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.header .logo img {
  width: 150px;
}

.header .opciones_header {
  margin-right: 10px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .opciones_header .opcion_verde i {
  color: #70c473;
  font-size: 14px;
}

.header .opciones_header .opcion_verde span {
  color: #70c473;
  font-weight: 400;
  margin-left: 5px;
  font-size: 13px;
}

.header i.opcion_verde {
  color: #70c473;
  font-size: 14px;
}

.background_blanco {
  background: #ffffff;
}

.barra_identificador {
  background: #ee122c;
  width: 100%;
  height: 5px;
}

.breadcrum i {
  font-size: 16px;
}

.breadcrum span {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 300;
}

.breadcrum {
  margin: 20px auto 10px;

  @media only screen and (min-width: 640px) {
    width: 85%;
    display: flex;
    margin: 20px auto 10px;
  }
}
