<header>
  <div class="barra_identificador"></div>
  <section class="header background_blanco">
    <div class="logo">
      <a href="/">
        <img src="https://catalogo.claro.com.pe/img/logo-tienda-prepago.png" alt="Tienda Claro Online" />
      </a>
    </div>

    <div class="opciones_header">
      <div class="opcion_verde"><i class="fas fa-lock"></i> Formulario seguro</div>
    </div>
  </section>

  <section class="breadcrum">
    <a href="javascript:history.back(1)">
      <i class="fa fa-angle-double-left"> </i>
      <span>
        Regresar
      </span>
    </a>
  </section>
</header>
