<div class="content_pag404">
  <div class="barra_roja"></div>

  <section class="header_404">
    <div class="logo">
      <img src="https://catalogo.claro.com.pe/img/logo-tienda-prepago.png" alt="Tienda Claro" />
    </div>
    <div class="titulo">
      <h1>PÁGINA NO ENCONTRADA</h1>
      <br />
      <h2>Estamos limpiando la casa, algunas páginas han cambiado o se han movido.</h2>
      <br />
      <p>¿Te ayudamos a empezar?</p>
    </div>
  </section>

  <section class="opciones_desktop">
    <a href="/catalogo/personas/portabilidad/acuerdo-18/celulares/todos/todos" class="opcion">
      <div>
        <p class="icon"><img src="https://static.claro.com.pe/img/otros/portar.svg" /></p>
        <span class="barrita"></span>
        <p class="titulo">Portar</p>
        <p class="mensaje">Trae tu línea a Claro y mantén tu mismo número</p>
      </div>
    </a>

    <a href="/catalogo/personas/renovacion/acuerdo-18/celulares/todos/todos" class="opcion">
      <div>
        <p class="icon"><img src="https://static.claro.com.pe/img/otros/renovar.svg" /></p>
        <span class="barrita"></span>
        <p class="titulo">Renovar</p>
        <p class="mensaje">Si ya eres cliente renueva tu equipo</p>
      </div>
    </a>
    <a href="https://tienda.claro.com.pe" class="opcion">
      <div>
        <p class="icon"><img src="https://static.claro.com.pe/img/otros/prepagos.svg" /></p>
        <span class="barrita"></span>
        <p class="titulo">Prepago</p>
        <p class="mensaje">Prepago chévere, Compra tu prepago aquí.</p>
      </div>
    </a>
    <a href="/catalogo/personas/accesorios/acuerdo-18/accesorios/todos/todos" class="opcion">
      <div>
        <p class="icon"><img src="https://static.claro.com.pe/img/otros/accesorios.svg" /></p>
        <span class="barrita"></span>
        <p class="titulo">Accesorios</p>
        <p class="mensaje">Tenemos los accesorios más chéveres para ti</p>
      </div>
    </a>
  </section>

  <section class="contactos_desktop">
    <div class="opcion">
      <p><i class="fas fa-comment-dots"></i></p>
      <p class="text_chat">Chatear</p>
      <p class="text_ingresa">
        <!-- a href="https://claroperu.s1gateway.com/webchat/chat_embed.php?cpgid=10002&amp;nw=1" target="_blank" -->
        <a href="">Ingresa aquí</a>
      </p>
    </div>
    <div class="opcion">
      <p><i class="fas fa-phone"></i></p>
      <p class="text_chat">Llámanos</p>
      <p class="text_telf"><a href="">0800 00334</a></p>
    </div>
  </section>
</div>
