<div class="main-content">
  <app-sidebar [filterList]="filterList"></app-sidebar>

  <!-- Main -->
  <main>
    <!-- Header Catalog -->
    <section class="category-title">
      <h1>Todos</h1>
      <h6>En Tienda Claro encuentras el producto que se ajuste a ti, elige el tuyo y ¡Cómpralo Ahora!</h6>
    </section>
    <!-- End Header Catalog -->

    <!-- Product List -->
    <div class="container-fluid">
      <div class="devices">
        <div class="card">
          <div class="card-header-blanco">
            <span class="bold-negro-1">Huawei</span>
            <span class="bold-negro-2">FreeBuds Lite Negro</span>
          </div>
          <div class="card-body">
            <div class="content-card">
              <div class="imagen">
                <img
                  alt="Claro IFI 20Mbps | Internet Fijo Inalámbrico"
                  src="https://static.claro.com.pe/img/ceq/img_front_Huawei_FreeBuds_Lite_CM-H1C_Black.png"
                />
              </div>
              <div class="precio">
                <div class="sombrero"><span>Equipo</span></div>
                <div class="inicial">
                  <div class="box-monto">S/ 249</div>
                  <div class="box-texto">Al contado</div>
                </div>
              </div>
            </div>
          </div>
          <div class="tag-online">
            <img alt="Etiqueta Solo Online Tienda Claro" src="https://static.claro.com.pe/img/ribbons/ribbon-promo.png" width="72" />
          </div>
          <div class="card-footer">&nbsp;</div>
        </div>
      </div>

      <div class="devices">
        <div class="card">
          <div class="card-header-blanco">
            <span class="bold-negro-1">Huawei</span>
            <span class="bold-negro-2">FreeBuds Lite Negro</span>
          </div>
          <div class="card-body">
            <div class="content-card">
              <div class="imagen">
                <img alt="Claro IFI 20Mbps | Internet Fijo Inalámbrico" src="https://static.claro.com.pe/img/ceq/Apple_Watch_Gold_1.png" />
              </div>
              <div class="precio">
                <div class="sombrero"><span>Equipo</span></div>
                <div class="inicial">
                  <div class="box-monto">S/ 249</div>
                  <div class="box-texto">Al contado</div>
                </div>
              </div>
            </div>
          </div>
          <div class="tag-online">
            <img alt="Etiqueta Solo Online Tienda Claro" src="https://static.claro.com.pe/img/ribbons/ribbon-promo.png" width="72" />
          </div>
          <div class="card-footer">&nbsp;</div>
        </div>
      </div>

      <div class="devices">
        <div class="card">
          <div class="card-header-blanco">
            <span class="bold-negro-1">Huawei</span>
            <span class="bold-negro-2">FreeBuds Lite Negro</span>
          </div>
          <div class="card-body">
            <div class="content-card">
              <div class="imagen">
                <img
                  alt="Claro IFI 20Mbps | Internet Fijo Inalámbrico"
                  src="https://static.claro.com.pe/img/otros/Front_EarPodswith_LightningConnector_200x310.png"
                />
              </div>
              <div class="precio">
                <div class="sombrero"><span>Equipo</span></div>
                <div class="inicial">
                  <div class="box-monto">S/ 249</div>
                  <div class="box-texto">Al contado</div>
                </div>
              </div>
            </div>
          </div>
          <div class="tag-online">
            <img alt="Etiqueta Solo Online Tienda Claro" src="https://static.claro.com.pe/img/ribbons/ribbon-promo.png" width="72" />
          </div>
          <div class="card-footer">&nbsp;</div>
        </div>
      </div>

      <div class="devices">
        <div class="card">
          <div class="card-header-blanco">
            <span class="bold-negro-1">Huawei</span>
            <span class="bold-negro-2">FreeBuds Lite Negro</span>
          </div>
          <div class="card-body">
            <div class="content-card">
              <div class="imagen">
                <img alt="Claro IFI 20Mbps | Internet Fijo Inalámbrico" src="https://static.claro.com.pe/img/ceq/Apple_Watch_Gold_1.png" />
              </div>
              <div class="precio">
                <div class="sombrero"><span>Equipo</span></div>
                <div class="inicial">
                  <div class="box-monto">S/ 249</div>
                  <div class="box-texto">Al contado</div>
                </div>
              </div>
            </div>
          </div>
          <div class="tag-online">
            <img alt="Etiqueta Solo Online Tienda Claro" src="https://static.claro.com.pe/img/ribbons/ribbon-promo.png" width="72" />
          </div>
          <div class="card-footer">&nbsp;</div>
        </div>
      </div>

      <div class="devices">
        <div class="card">
          <div class="card-header-blanco">
            <span class="bold-negro-1">Huawei</span>
            <span class="bold-negro-2">FreeBuds Lite Negro</span>
          </div>
          <div class="card-body">
            <div class="content-card">
              <div class="imagen">
                <img alt="Claro IFI 20Mbps | Internet Fijo Inalámbrico" src="https://static.claro.com.pe/img/ceq/Apple_Watch_Gold_1.png" />
              </div>
              <div class="precio">
                <div class="sombrero"><span>Equipo</span></div>
                <div class="inicial">
                  <div class="box-monto">S/ 249</div>
                  <div class="box-texto">Al contado</div>
                </div>
              </div>
            </div>
          </div>
          <div class="tag-online">
            <img alt="Etiqueta Solo Online Tienda Claro" src="https://static.claro.com.pe/img/ribbons/ribbon-promo.png" width="72" />
          </div>
          <div class="card-footer">&nbsp;</div>
        </div>
      </div>

      <div class="devices">
        <div class="card">
          <div class="card-header-blanco">
            <span class="bold-negro-1">Huawei</span>
            <span class="bold-negro-2">FreeBuds Lite Negro</span>
          </div>
          <div class="card-body">
            <div class="content-card">
              <div class="imagen">
                <img
                  alt="Claro IFI 20Mbps | Internet Fijo Inalámbrico"
                  src="https://static.claro.com.pe/img/otros/Front_EarPodswith_LightningConnector_200x310.png"
                />
              </div>
              <div class="precio">
                <div class="sombrero"><span>Equipo</span></div>
                <div class="inicial">
                  <div class="box-monto">S/ 249</div>
                  <div class="box-texto">Al contado</div>
                </div>
              </div>
            </div>
          </div>
          <div class="tag-online">
            <img alt="Etiqueta Solo Online Tienda Claro" src="https://static.claro.com.pe/img/ribbons/ribbon-promo.png" width="72" />
          </div>
          <div class="card-footer">&nbsp;</div>
        </div>
      </div>

      <div class="devices">
        <div class="card">
          <div class="card-header-blanco">
            <span class="bold-negro-1">Huawei</span>
            <span class="bold-negro-2">FreeBuds Lite Negro</span>
          </div>
          <div class="card-body">
            <div class="content-card">
              <div class="imagen">
                <img alt="Claro IFI 20Mbps | Internet Fijo Inalámbrico" src="https://static.claro.com.pe/img/ceq/Apple_Watch_Gold_1.png" />
              </div>
              <div class="precio">
                <div class="sombrero"><span>Equipo</span></div>
                <div class="inicial">
                  <div class="box-monto">S/ 249</div>
                  <div class="box-texto">Al contado</div>
                </div>
              </div>
            </div>
          </div>
          <div class="tag-online">
            <img alt="Etiqueta Solo Online Tienda Claro" src="https://static.claro.com.pe/img/ribbons/ribbon-promo.png" width="72" />
          </div>
          <div class="card-footer">&nbsp;</div>
        </div>
      </div>

      <div class="devices">
        <div class="card">
          <div class="card-header-blanco">
            <span class="bold-negro-1">Huawei</span>
            <span class="bold-negro-2">FreeBuds Lite Negro</span>
          </div>
          <div class="card-body">
            <div class="content-card">
              <div class="imagen">
                <img
                  alt="Claro IFI 20Mbps | Internet Fijo Inalámbrico"
                  src="https://static.claro.com.pe/img/ceq/img_front_Huawei_FreeBuds_Lite_CM-H1C_Black.png"
                />
              </div>
              <div class="precio">
                <div class="sombrero"><span>Equipo</span></div>
                <div class="inicial">
                  <div class="box-monto">S/ 249</div>
                  <div class="box-texto">Al contado</div>
                </div>
              </div>
            </div>
          </div>
          <div class="tag-online">
            <img alt="Etiqueta Solo Online Tienda Claro" src="https://static.claro.com.pe/img/ribbons/ribbon-promo.png" width="72" />
          </div>
          <div class="card-footer">&nbsp;</div>
        </div>
      </div>

      <div class="devices">
        <div class="card">
          <div class="card-header-blanco">
            <span class="bold-negro-1">Huawei</span>
            <span class="bold-negro-2">FreeBuds Lite Negro</span>
          </div>
          <div class="card-body">
            <div class="content-card">
              <div class="imagen">
                <img
                  alt="Claro IFI 20Mbps | Internet Fijo Inalámbrico"
                  src="https://static.claro.com.pe/img/ceq/img_front_Huawei_FreeBuds_Lite_CM-H1C_Black.png"
                />
              </div>
              <div class="precio">
                <div class="sombrero"><span>Equipo</span></div>
                <div class="inicial">
                  <div class="box-monto">S/ 249</div>
                  <div class="box-texto">Al contado</div>
                </div>
              </div>
            </div>
          </div>
          <div class="tag-online">
            <img alt="Etiqueta Solo Online Tienda Claro" src="https://static.claro.com.pe/img/ribbons/ribbon-promo.png" width="72" />
          </div>
          <div class="card-footer">&nbsp;</div>
        </div>
      </div>

      <div class="devices">
        <div class="card">
          <div class="card-header-blanco">
            <span class="bold-negro-1">Huawei</span>
            <span class="bold-negro-2">FreeBuds Lite Negro</span>
          </div>
          <div class="card-body">
            <div class="content-card">
              <div class="imagen">
                <img
                  alt="Claro IFI 20Mbps | Internet Fijo Inalámbrico"
                  src="https://static.claro.com.pe/img/ceq/img_front_Huawei_FreeBuds_Lite_CM-H1C_Black.png"
                />
              </div>
              <div class="precio">
                <div class="sombrero"><span>Equipo</span></div>
                <div class="inicial">
                  <div class="box-monto">S/ 249</div>
                  <div class="box-texto">Al contado</div>
                </div>
              </div>
            </div>
          </div>
          <div class="tag-online">
            <img alt="Etiqueta Solo Online Tienda Claro" src="https://static.claro.com.pe/img/ribbons/ribbon-promo.png" width="72" />
          </div>
          <div class="card-footer">&nbsp;</div>
        </div>
      </div>
    </div>
    <!-- End Product List -->
  </main>
  <!-- End Main -->
</div>
